<%- include('partials/head.ejs') %>

	<section class="container">
		<h1>Lorem ipsum dolor sit amet</h1>

		<form action="/newuser" method="post">
			<label>Name</label>
			<input type="text" name="username">
			<label>Surname</label>
			<input type="text" name="surname">
			<button>SignIn</button>
		</form>
	</section>

	<%- include('partials/footer.ejs') %>
